# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts
.next-types/

# production
/build
/storage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files — NE JAMAIS COMMITTER
.env
.env*.local
.env.production
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# prisma generated client
/src/generated
